<header class="navbar" [ngClass]="{'navbar--floating': isFloating}" [ngStyle]="{'height.px': currentNavbarHeight}">
  <div class="navbar__pseudo-background" [ngStyle]="{'opacity': currentNavbarOpacity}"></div>
  <div class="navbar__links">
    <div class="navbar__link">
      <a mat-button (click)="onClickNavItem('about')">
        About
      </a>
    </div>
    <div class="navbar__link">
      <a mat-button (click)="onClickNavItem('stack')">
        Stack
      </a>
    </div>
    <div class="navbar__link">
      <a mat-button (click)="onClickNavItem('resume')">
        Resume
      </a>
    </div>
    <div class="navbar__link">
      <a mat-button (click)="onClickNavItem('projects')">
        Projects
      </a>
    </div>
    <div class="navbar__link">
      <a mat-button (click)="onClickNavItem('contact')">
        Contact
      </a>
    </div>
  </div>
  <div class="navbar__hamburger">
    <button #hamburger mat-icon-button (click)="onClickMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</header>
