@import '~@angular/material/theming';
@import '_variables';
@import '_mixins.scss';

$navbar-padding-h: 48px;

.navbar {
  background: transparent;
  position: fixed;
  width: calc(100% - (#{$navbar-padding-h} * 2));
  height: 72px;
  padding: 0 $navbar-padding-h;
  color: white;
  transition: all .3s ease;

  &__pseudo-background {
    width: 100%;
    height: 100%;
    background: $primary;
    margin-left: -48px;
    margin-right: -48px;
    position: absolute;
    opacity: 0;
    transition: all .3s ease;
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
  }

  &__link {

    &:not(:last-of-type) {
      margin-right: 8px;
    }

    .mat-button {
      font-weight: 400;
    }
  }

  &--floating {
    position: fixed;
    background: $primary;
    height: 48px;
    @include mat-elevation(6, $secondary, 0.66);
    z-index: 999;
  }
}
