<div class="navbar" [ngClass]="{'navbar--floating': isFloating}">
  <div class="navbar__links">
    <div class="navbar__link">
      <button mat-button>
        About
      </button>
    </div>
    <div class="navbar__link">
      <button mat-button>
        Stack
      </button>
    </div>
    <div class="navbar__link">
      <button mat-button>
        Resume
      </button>
    </div>
    <div class="navbar__link">
      <button mat-button>
        Projects
      </button>
    </div>
    <div class="navbar__link">
      <button mat-button>
        Contact
      </button>
    </div>
  </div>
</div>
