@import "~@angular/material/theming";
@import "_mixins";

.projects {
  background-image: url("/assets/img/background/projects.png"); // TODO: Do Not Use An Image!
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;

  &__heading {
    margin-top: 200px;
    margin-bottom: 96px;
    text-align: center;
  }

  &__title {
    font-size: 48px;
    font-weight: 500;
    color: white;
  }

  &__grid {
    display: grid;
    margin: auto;
    max-width: #{250px * 4 + 48px * 3};
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    grid-gap: 48px;
  }

  &__project {
    &__hero {
      height: 144px;
      display: flex;
      flex-direction: column-reverse;
      background: #03ced9;
      color: white;
      margin-top: -16px !important;
      margin-left: -16px;
      margin-right: -16px;
      padding: 16px;
    }

    &__title {
      font-size: 24px;
    }
  }

  &__card {
    overflow: hidden;

    &:hover {
      @include mat-elevation(8);
    }
  }

  .mat-card-content {
    padding-top: 16px;
  }

  .mat-card-actions {
    display: flex;
    justify-content: center;
    color: #03ced9;
  }
}

@include on-tablet-and-below {
  .projects {
    &__heading {
      margin-top: 0;
    }
  }
}

@include on-mobile-and-below {
  .projects {
    background: linear-gradient(112.54deg, #0470DC 5.9%, #70DDFF 109.01%);
  }
}
