<div class="contact-form">
  <h1 class="contact-form__title" mat-dialog-title>Send Me A Message!</h1>
  <div class="contact-form__content" mat-dialog-content>
    <div class="contact-form__content__left">
      <!-- <p>I'd love to hear from you. Feel free to send over any questions you might have. I'll be sure to get back with you as soon as I can!</p> -->
      <form [formGroup]="contactForm">
        <div class="contact-form__input">
          <mat-form-field class="example-full-width">
            <!-- <mat-label>Name</mat-label> -->
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
        </div>
        <div class="contact-form__input">
          <mat-form-field class="example-full-width">
            <!-- <mat-label>Email Address</mat-label> -->
            <input matInput placeholder="Email Address" formControlName="email">
          </mat-form-field>
        </div>
        <div class="contact-form__input">
          <mat-form-field class="example-full-width">
            <!-- <mat-label>Message</mat-label> -->
            <textarea matInput placeholder="Message" formControlName="message"></textarea>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="contact-form__content__right">
      <div class="contact-form__my-info mat-elevation-z6">
        <div class="contact-form__my-info__name">Taylor Buckner</div>
        <div class="contact-form__my-info__item">
          <mat-icon>email</mat-icon>
          taylor.a.buckner@gmail.com
        </div>
        <div class="contact-form__my-info__item">
          <mat-icon>location_on</mat-icon>
          Austin, TX
        </div>
        <div class="contact-form__my-info__social">
        </div>
      </div>
    </div>
  </div>
  <div class="contact-form__actions" mat-dialog-actions>
    <div class="contact-form__action">
      <button mat-button (click)="onCancelModal()">Cancel</button>
    </div>
    <div class="contact-form__action">
      <button mat-raised-button color="primary" (click)="onSubmitModal()" cdkFocusInitial>Send</button>
    </div>
  </div>
</div>
