<section class="about" id="about">
  <div class="about__top">
    <h2 class="about__title">
      About
    </h2>
  </div>
  <div class="about__left">
    <div class="about__image">
      <div class="about__image__img">
        <img src="assets/img/me-512.jpg" alt="Image of Taylor Buckner">
      </div>
    </div>
  </div>
  <div class="about__right">
    <div class="mat-body about__bio">
      I've been lucky enough to finally find a career path that doesn't feel like work. Every day I get to wake up and
      get paid to do what I love. That's so rare these days, and I know exactly what it's like to wake up and dread
      going to your job.
      <br><br>
      In the early 2000s I started dabbling with web development--even published a couple of sites, but I never really
      thought I would be good enough to make a career out of it. I kind of always assumed you had to be a genius to get
      into development, but the fact is <em>that's just not true.</em>
      <br><br>
      At my early-career companies I would often find myself annoyed with stupid processes and hack together some sort of
      tool that would help automate the process in some way. Those were the only real fulfilling times in those roles, I
      didn't know much potential I had in that area.
      <br><br>
      Out of pure luck, a friend recommended me as an early hire at a startup where I worked under who would later become my
      mentor and friend. He saw that potential in me, and with a some encouragement and coaching helped me move into my
      first full time development role.
    </div>
  </div>
</section>
