<section class="about">
  <div class="about__top">
    <h2 class="about__title">
      About
    </h2>
  </div>
  <div class="about__left">
    <div class="about__image">
      <div class="about__image__img">
        <img src="assets/img/me-512.jpg" alt="Image of Taylor Buckner">
      </div>
    </div>
  </div>
  <div class="about__right">
    <div class="mat-body about__bio">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste mollitia numquam repudiandae explicabo eum
      maiores modi unde possimus et. Officiis magni aliquid commodi libero laudantium, similique illo id! Excepturi
      maiores mollitia magnam aspernatur, similique laboriosam!
      <br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, voluptatum laudantium. Maiores, ipsam minus!
      Debitis, adipisci? Error vitae voluptatum maiores quia sunt illum fugiat iusto accusamus dignissimos. Animi
      consequuntur numquam exercitationem laboriosam cum nesciunt iste.
    </div>
  </div>
</section>
