<section class="hero">
  <div class="hero__left">
    <div class="hero__text">
      <h1 class="mat-display-2 hero__title">Taylor A. Buckner</h1>
      <h3 class="hero__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, aliquid error. Ut
        voluptatem porro fugiat, quo aut iste, sunt consectetur tempora aliquam odio debitis alias saepe nam, neque
        itaque at.
        s</h3>
      <div class="hero__social">
        <app-social-buttons></app-social-buttons>
      </div>
    </div>
  </div>
  <div class="hero__right">
    <div class="hero__image">
      <img src="assets/img/hero.svg" alt="">
    </div>
  </div>
</section>
