<footer class="footer">
  <div class="footer__links">
    <div class="footer__link">
      <a href="#about">About</a>
    </div>
    <div class="footer__link">
      <a href="#stack">Stack</a>
    </div>
    <div class="footer__link">
      <a href="#resume">Resume</a>
    </div>
    <div class="footer__link">
      <a href="#projects">Projects</a>
    </div>
    <div class="footer__link">
      <a href="#contact">Contact</a>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="footer__copyright__text">
      &copy;{{ yearRangeText }} <span class="footer__copyright__name">Taylor Buckner</span>
    </div>
  </div>
</footer>
