@import '_mixins.scss';

.footer {
  background: #5B5A6D;

  &__top {
    max-width: 600px;
    color: #A5ADB1;
    margin: auto;
    padding: 36px 0;
  }

  &__links {

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      @include dat-transition-all;

      &:hover {
        color: lighten(#A5ADB1, 13%);
      }
    }
  }

  &__copyright {
    background: #3F3D56;
    color: #BDD3DF;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__name {
      color: #13F1FC;
    }
  }
}

@include on-tablet-and-below {
  .footer {

    &__top {
      padding: 0;
    }

    &__links {
      display: block;
      text-align: center;
      padding: 8px;
    }

    &__link {
      padding: 8px 16px;
    }
  }
}
