<div class="mobile-menu__links">
  <div class="mobile-menu__link">
    <a mat-button (click)="onClickNavItem('about')">
      About
    </a>
  </div>
  <div class="mobile-menu__link">
    <a mat-button (click)="onClickNavItem('stack')">
      Stack
    </a>
  </div>
  <div class="mobile-menu__link">
    <a mat-button (click)="onClickNavItem('resume')">
      Resume
    </a>
  </div>
  <div class="mobile-menu__link">
    <a mat-button (click)="onClickNavItem('projects')">
      Projects
    </a>
  </div>
  <div class="mobile-menu__link">
    <a mat-button (click)="onClickNavItem('contact')">
      Contact
    </a>
  </div>
</div>
