@import "_mixins.scss";

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

section {
  padding: 72px 48px;

  @include on-tablet-and-below {
    padding: 36px 24px;
  }
}

img {
  width: 100%;
}
