@import "_variables";
@import "_breakpoints";

@mixin dat-transition($prop: all, $time: .3s) {
  transition: $prop $time $easing;
}

@mixin mat-swift-in-out-transition() {
  transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@mixin dat-transition-all($time: .3s) {
  transition: all $time $easing;
}

@mixin truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin desktop-only {
  @media screen and (max-width: $laptop) {
    display: none;
  }
}

@mixin hide-desktop {
  @media screen and (min-width: #{$laptop + 1}) {
    display: none;
  }
}

@mixin hide-tablet-and-below {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

@mixin show-tablet-and-below {
  @media screen and (min-width: #{$tablet + 1}) {
    display: none;
  }
}

@mixin on-tablet-and-above {
  @media screen and (min-width: #{$tablet + 1}) {
    @content;
  }
}

@mixin on-tablet-and-below {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin on-mobile-and-below {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
